*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

body{
    // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 200 to 1000

.mulish-<uniquifier> {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}
/* shared style */

.span{
    color: #FF5400;
}
.btn-primary{
width: 174px;
background-color: #FF5400;
border: none;
border-radius: 8px;
padding: 14px 34px 13px 35px;
color: #FFFFFF;
}

/* nav related style */

nav{
    border: 2px solid red;
    margin: 52px 135px;
}

.nav-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 398.37px;
}

.nav-heading{
   border: 1px solid;
    display: flex;
    align-items: center;
    gap: 16.63px;
    font-weight: 800;
    font-size: 36px;
}

.nav-anchor{
    border: 1px solid;
   /* width: auto;
   height: auto; */
    display: flex;
    justify-content: space-around;

}

.nav-anchor a{
text-decoration: none;
padding-left: 44px;
font-size: 18px;
font-weight: 400;
color: #424247;
}
.nav-anchor > a > #home{
    font-size: 18px;
    font-weight: 700;
}

/* banner related style */

.banner{
    border: 1px solid;
    margin: 50px 135px 0px 135px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:scroll;
    border-radius: 16px;
}
.banner-main > .banner-heading{
   /* width: 596px; */
    margin: 106px 287px 0px 287px;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}
.banner-main > .banner-description{
    margin: 24px 247px 48px 247px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    
    
}
.banner-main > .banner-input{
    margin: 0px 185px 106px 185px;
    gap: 24px;
}
.banner-input > input{
    /* width: 174px; */
    height: 52px;
   color: #FFFFFF;
   padding: 16px 113px 16px 15px;
   border-radius: 8px;
   border: none;
   
}
/* tour section style */

.tour{
    margin: 100px 135px 0px 135px;
    display: flex;
    justify-content: space-between;
    gap: 53px;
    
}

.tour-container{
   
    width: 50% ;
}
.tour-image{
    width: 45%;
}
.tour-image img{
   
    width: 100%;
  
}
.tour-container .tour-heading{
   
    width: 355px;
    height: 50px;
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    align-items: center;

}
.tour-container .tour-description{
    
    width: 577px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #131318B2;
    margin: 24px 0px 24px 0px;
}
.tour-container .tour-description2 {
  
    width: 525px;
    height: calc(100% - 355px);
    margin-right: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #131318B2;
}

.tour-container .tour-description3{
    width: 530px;
    height: 104px;
    margin-top: 24px;
    margin-right: 48px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #131318B2;
}
/* choose section style */

.choose{
    margin: 100px 135px 0px 135px;
}
.choose-container{

    border: 1px solid;
    margin: 0px 398px 0px 398px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
   
}
.choose-container h2{
font-size: 40px;
font-weight: 800;
color: #131318;
}
.choose-container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #131318B2;
   
}
.choose-img{
    margin-top: 48px;
}
.choose-img .choose-img1 {
    width: 100%;
   margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.choose-img  > h1{
   width: 200px;
   height: 35px;
font-size: 28px;
font-weight: 800;
line-height: 35px;
letter-spacing: 0em;


}

.mal{
   
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
}
.ind{
   
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
}
.choose-img2{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 24px;
}
.sri{
   
    width: 30%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
}
.amr{
   
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
}
.kas{
    
    width: 20%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
}
.choose-img3{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.ban{
   
    width: 40%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
}
.band{
   
    width: 60%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
}

/* why choose us style */

.choose-us{
    margin: 100px 135px 0px 135px;
}
.choose-us-card{
    margin-top: 48px;
    /* grid-template-columns: repeat((2, 1fr)), repeat((1, 1fr)); */
}
.card-row1{
    /* border: 1px solid blue; */
    display: flex;
    gap: 24px;
}
.card-row1 .first-card{
    border: 1px solid #FBB56333;
    padding: 32px 55px 32px 32px;
    background-color: #FBB56333;

}
.card-row1 .second-card{
    border: 1px solid #29CEF633;
    padding: 32px 55px 32px 32px;
    background-color: #29CEF633;
}
.card-row1 img{
    
}

.card-row1 h3{
    
   margin-top: 32px;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0em;
   
    
}
.card-row1 p{
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    
}
.choose-us-card .card-row2{
    border: 1PX solid #E9444433;
    width: 50%;
    margin-left: 25%;
    background-color: #E9444433;
    padding: 32px 55px 32px 32px;
    margin-top: 24px;
   
}
.card-row2 h3{
    margin-top: 32px;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0em;
   
}
.card-row2 p{
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}